<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document for TODO</title>
</head>
<body>
    <%- include('header.ejs') %>
    <!-- Include the todos.ejs template -->
  <%- include("todos") %>

  <!-- Include the footer.ejs template -->
  <%- include("footer") %>
</body>
</html>